@model IEnumerable<pl.lodz.p.ftims.edu.pai.web.Models.TimesheetListItemViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Dodaj", "Step1",new { },new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Podgląd", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
